<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>首頁</title>
</head>
   <body>

      <h1>~議題搜尋站 首頁~</h1>
      <br>
      <br>
      <form action = "home" method = "post">
         {% csrf_token %}
         <p><input type = "text" name = "search" placeholder = "輸入關鍵字後點擊GO !"/></p>
         <p><input type = "submit" value = "GO !" /></p>
      </form>
      <a href = "health">健康飲食</a>
      <br>
      <br>
      <a href = "world">國際情勢</a>
      <br>
      <br>
      <a href = "environment">氣候環境</a>
      <br>
      <br>
      <a href = "science">科學科技</a>
      <br>
      <br>
      <h4>登入後可使用API(GET)</h4>
      <a href = "main">已註冊請按我~</a>
      <br>
      <br>
      <a href = "login">登入/忘記密碼</a>
      <br>
      <br>
      <a href = "signup">沒註冊過?</a>

   </body>
</html>