<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>登入</title>
</head>
   <body>
      <h1>~登入~</h1>
      <form action = "login" method = "post" novalidate>
         {% csrf_token %}
         <p><input type = "text" placeholder = "請輸入Email" name = "username" value = "{{ username }}"/> <span>{{ form.username.errors.0 }}</span></p>
         <p><input type = "password" placeholder = "請輸入密碼" name = "password" value = ""/> <span>{{ form.password.errors.0 }}</span></p>
         <p><input type = "submit" value = "登入" /></p>
      </form>

      <a href = "forget">忘記密碼嗎?</a>

   </body>
</html>