<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>註冊</title>
</head>
   <body>
      <h1>~註冊~</h1>
      <form action = "signup" method = "post" novalidate>
         {% csrf_token %}
         <p><input type = "text" name = "username" placeholder = "請輸入Email" value="{{ username }}"/> <span>{{ form.username.errors.0 }}</span></p>
         <p><input type = "password" name = "password" placeholder = "請輸入密碼" value=""/> <span>{{ form.password.errors.0 }}</span> (密碼必須是至少8個字元且含大小寫英文字母及數字)</p>
         <p><input type = "password" name = "pws_check" placeholder = "再輸入一次密碼" value=""/> <span>{{ form.pws_check.errors.0 }}{{ clear_errors.0 }}</span></p>
         <p><input type = "submit" value = "註冊吧" /></p>
         <p>(註冊若成功將自動導向登入頁面~)</p>
      </form>

   </body>
</html>